<!-- Componente: Egresos -->
<div class="col-md-6">
  <h2 class="text-center text-danger">Egresos</h2>
  <ul class="list-group mt-3">
    <li *ngFor="let egreso of egresos" class="list-group-item d-flex justify-content-between align-items-center">
      <span class="flex-grow-1">{{ egreso.descripcion }}</span>
      <span class="d-flex align-items-center mx-3">
        <!-- egreso -->
        <span class="text-danger">- ${{ egreso.valor | number:'1.2-2' }}</span>
        <!-- porcentaje -->
        <span class="badge bg-success ms-2">
          {{ calcularPorcentaje(egreso) | number:'1.0-0' }}%
        </span>
      </span>
      <!-- Boton para  eliminar -->
      <button (click)="eliminarEgreso(egreso)" class="btn btn-sm btn-danger">
        <i class="bi bi-x-circle"></i> <!-- Bootstrap Icon -->
      </button>
    </li>
  </ul>
</div>

