<!-- Ingresos y Egresos en columnas de igual tamaño -->
<div class="row mt-4">
    <!-- Componente: Ingresos -->
    <div class="col-md-6">
      <h2 class="text-center text-primary">Ingresos</h2>
      <ul class="list-group mt-3">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let ingreso of ingresoService.ingresos">
          <span class="flex-grow-1">{{ ingreso.descripcion }}</span>
          <!-- Ingreso -->
          <span class="text-success mx-3">
            ${{ ingreso.valor | number:'1.2-2' }}
          </span>
          <!-- Boton para  eliminar -->
          <button class="btn btn-sm btn-danger" (click)="eliminarIngreso(ingreso)">
            <i class="bi bi-x-circle"></i>
          </button>
        </li>
      </ul>
    </div>
    