<!-- Formulario centrado -->
    <!-- Componente: Formulario -->
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <form class="row g-2" (ngSubmit)="agregarOperacion()">
          <div class="col-auto">
            <!-- Egreso (-) o Ingreso (+) -->
            <select class="form-select bg-success" [(ngModel)]="tipoOperacion" name="tipoOperacion">
              <option value="ingresoOperacion" selected>+</option>
              <option value="egresoOperacion">-</option>
            </select>
          </div>
          <div class="col">
            <input type="text"
                   class="form-control border-success"
                   placeholder="Descripción"
                   [(ngModel)]="descripcion"
                   name="descripcion"
                   required />
          </div>
          <div class="col-auto">
            <input type="number"
                   class="form-control border-success"
                   placeholder="Valor"
                   [(ngModel)]="valor"
                   name="valor"
                   required />
          </div>
          <div class="col-auto">
            <!-- Boton para agregar -->
            <button type="submit" class="btn btn-success">
              <i class="bi bi-check-circle"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    